<!DOCTYPE html>
<html lang="en">
<head>
  <title>CounselorCheckin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <% if @school.nil? %>
	      	<a class="navbar-brand" href="#">Counselor Checkin</a>
	      <% else %>
	      	<a class="navbar-brand" href="/<%= @school.url %>">Counselor Checkin</a>
	      <% end %>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="mailto:support@gradery.com">Support</a></li>
	        <% if !@school.nil? %>
	        	<li><a href="/<%= @school.url %>">Checkin</a></li>
	        <% end %>
	        <% if !@school.nil? && !current_user.nil? && @school == current_user.school %>
	        	<li><a href="/<%= @school.url %>/admin">Admin</a></li>
	        <% end %>
	        <% if current_user.nil? %>
	        	<li><a href="/users/sign_in">Login</a>
	       	<% else %>
	        	<li><a href="/users/edit">My Profile</a>
	        <% end %>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<%= yield %>
	</div>
</body>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
